<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>248661822187-17bbqptm8rqd8osai57aurdocnjs7frs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.248661822187-17bbqptm8rqd8osai57aurdocnjs7frs</string>
	<key>API_KEY</key>
	<string>AIzaSyCgC6VlzqlijqkaHMRp7owdfvJ3avt6fQo</string>
	<key>GCM_SENDER_ID</key>
	<string>248661822187</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.approachingpi.gffft</string>
	<key>PROJECT_ID</key>
	<string>gffft-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>gffft-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:248661822187:ios:3f208fa31828ccfac08cae</string>
	<key>DATABASE_URL</key>
	<string>https://gffft-auth.firebaseio.com</string>
</dict>
</plist>